<div>
  <p><input type="text" ng-model="peopleSearch" placeholder="Search"></p>

  <table class="table table-condensed">
    <thead>
      <th ng-click="sort = 'first'">First</th>
      <th ng-click="sort = 'last'">Last</th>
      <th ng-click="sort = 'phone'">Phone</th>
    </thead>
    <tbody>
      <tr ng-repeat="person in data.people|filter:peopleSearch|orderBy:sort">
        <td><a ng-click="data.person = person; app.view = 'details.html'">{{person.first}}</a></td>
        <td>{{person.last}}</td>
        <td>{{person.phone}}</td>
      </tr>
    </tbody>
  </table>
</div>